<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="content container-fluid bg-secondary text-dark d-flex justify-content-center align-items-center">
    <div class="card tasks p-3">
        <form th:action="@{/task/create}" method="post" id="taskDTO">
            <div class="card-header" style="text-align: center">
                <input class="h2 text-center" type="text" name="name" id="name" th:value="${task.getName()}">
            </div>
            <p class="text-center my-2" th:text="'Created at: ' + ${task.getDate()}"></p>
            <p class="text-center mb-2" th:text="'Status: ' + ${task.getStatus()}"></p>
            <input type="hidden" name="status" id="status" th:value="${false}">
            <textarea class="container-fluid" name="details" id="details" cols="25" rows="15" style="resize:none"
                      th:text="${task.details}"></textarea>
            <div class="container-fluid d-flex justify-content-center"></div>
            <div class="container-fluid d-flex justify-content-evenly mt-4">
                <a href="/" class="btn btn-primary col-4">Return to Tasks</a>
                <button type="submit" class="btn btn-success col-4" id="save">Save task</button>
            </div>
        </form>
    </div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>